// color*****************************!
$bg-color-body: #fff   ; 
$color-content: #757575;
$color-content-first:#212121;
$color-fon: #F5F4FA;

$bg-fon-text:#2F303ACC;
$bg-fon-footer:#2F303A;
$color-hover:#2196F3;

// логотип****************************
$color-logo-header: #212121;
$color-logo:#2196F3;
$color-logo-footer: #fff;

// кнопка*****************************
$color-button:#2196F3;

// иконки соц сети********************
$icon-color:#AFB1B8;
$icon-color-bg: #FFFFFF1A;
$icon-color-hover:#2196F3;
$icon-color-footer:#fff;

// анимация*****************************

$cubic:cubic-bezier(0.4, 0, 0.2, 1);

// font*******************************
$font-logo: Raleway;
$font-base: Roboto;
